<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']"><img class="" src="" /> Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" title="view all request that are pending">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Records
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/registration']">Registration</a>
          <div class="divider"></div>
          <a class="dropdown-item" [routerLink]="['/attendance']">Attendance</a>
          <div class="divider"></div>
          <a class="dropdown-item" [routerLink]="['/register']">Register</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Requests
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/request']">New Request</a>
          <div class="divider"></div>
          <a class="dropdown-item" [routerLink]="['/pending']" title="view all request that are pending">Pending</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Factory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/jobs']">Jobs</a>
          <div class="divider"></div>
          <a class="dropdown-item" [routerLink]="['/server']" title="view all request that are pending">Pending</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <button class="btn btn-outline-primary" (click)="signout()" type="submit">Sign Out</button>
      </li>
    </ul>
  </div>
</nav>
