<form class="form-horizontal" name="form" id="form" [formGroup]="form" (submit)="find(form.controls.patientsID.value)">
  <fieldset>
    <legend>Fill in details of the patient</legend>
    <!-- Patients ID -->
    <div class="form-group form-row">
      <label class="col-sm-1 control-label" for="patientsID">Identifier</label>
      <div class="col-sm-4" [ngClass]="form.controls.patientsID?.errors ? 'has-error' : 'has-success'">
        <input type="text" class="form-control" formControlName="patientsID" id="patientsID" placeholder="index number/staff id">
      </div>
      <div class="col-sm-2">
        <button class="btn" [ngClass]="form.valid ? 'btn-outline-success' : 'btn-outline-danger'" [disabled]="form.invalid || hand.processing">Find</button>
      </div>
      <div class="row">
        <span [ngClass]="form.controls.patientsID.errors?.maxlength ? 'text-danger' : ''" *ngIf="form.controls.patientsID.errors?.maxlength">The maximum length is {{form.controls.patientsID.errors.maxlength.requiredLength}} characters: Current is {{form.controls.patientsID.errors.maxlength.actualLength}}</span>
        <span [ngClass]="form.controls.patientsID.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.patientsID.errors?.required">Unique identifier is required</span>
        <span [ngClass]="form.controls.patientsID.errors?.minlength ? 'text-danger' : ''" *ngIf="form.controls.patientsID.errors?.minlength">The minimum length is {{form.controls.patientsID.errors.minlength.requiredLength}} characters: Current is {{form.controls.patientsID.errors.minlength.actualLength}}</span>
      </div>
    </div>
  </fieldset>
</form>
<div class="card text-white bg-light text-dark mb-3" style="max-width: 18rem;" *ngIf="pat && form.valid">
  <div class="card-header">Patient Information</div>
  <div class="card-body">
    <p class="card-text">Name  : {{pat!.fullName}}</p>
    <p class="card-text">Phone : {{pat!.mobileNumber}}</p>
    <p class="card-text">ID    : {{pat!.patientsID}}</p>
    <p class="card-text">DOB   : {{pat.dateOfBirth |date}}</p>
    <button class="btn btn-outline-info" (click)="get(pat.patientAttendanceID)">Get Payments</button>
  </div>
</div>

<div>
  <h2 class="text-secondary">Payments</h2>
  <table class="table table-striped table-responsive">
    <thead class="thead-light" *ngIf="pays.drugs.length>1">
      <tr>
        <th colspan="3" class="bg-info text-dark">Drugs</th>
      </tr>
      <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>
          <input type="checkbox" (change)="checkDrugs()" class="form-check" />
        </th>
      </tr>
    </thead>
    <tbody *ngIf="pays.drugs.length>1">
      <tr *ngFor="let d of pays.drugs">
        <td>{{d.drugName}}</td>
        <td>{{d.unitCost}}</td>
        <td>
          <input type="checkbox" [(ngModel)]="d.hasPaid" ngModelOptions="{standAlone:true}" [checked]="d.hasPaid" class="form-check" />
        </td>
      </tr>
      <tr class="bg-secondary" *ngIf="pays.drugs.length>1">
        <td colspan="3">GH¢ {{dTot() |number}}</td>
      </tr>
    </tbody>
    <thead *ngIf="pays.groups.length>1">
      <tr>
        <th colspan="3" class="bg-info">Labs</th>
      </tr>
      <tr>
        <th>Lab</th>
        <th>Cost</th>
        <th>
          <input type="checkbox" (click)="checkLab()" class="form-check" />
        </th>
      </tr>
    </thead>
    <tbody *ngIf="pays.groups.length>1">
      <tr *ngFor="let l of pays.groups">
        <td>{{l.groupName}}</td>
        <td>{{l.cost}}</td>
        <td>
          <input type="checkbox" [(ngModel)]="l.hasPaid" ngModelOptions="{standAlone:true}" [checked]="l.hasPaid" class="form-check" />
        </td>
      </tr>
      <tr class="bg-secondary">
        <td colspan="3">Total : GH¢ {{lTot() | number}}</td>
      </tr>
    </tbody>
    <thead *ngIf="pays.services.length>1">
      <tr>
        <th colspan="3" class="bg-info">Services</th>
      </tr>
      <tr>
        <th>Service</th>
        <th>Cost</th>
        <th>
          <input type="checkbox" (click)="checkServ()" class="form-check" />
        </th>
      </tr>
    </thead>
    <tbody *ngIf="pays.services.length>1">
      <tr *ngFor="let s of pays.services">
        <td>{{s.service}}</td>
        <td>{{s.amount}}</td>
        <td>
          <input type="checkbox" [(ngModel)]="s.isPaid" ngModelOptions="{standAlone:true}" [checked]="s.isPaid" class="form-check" />
        </td>
      </tr>
      <tr class="bg-secondary">
        <td colspan="3">Total : GH¢ {{sTot() | number}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="total()>0">
      <tr>
        <th class="bg-info text-dark" colspan="3">Grand Total : GH¢ {{total()|number}}</th>
      </tr>
    </tfoot>
  </table>
  <div>
    <button type="button" (click)="receive()" [ngClass]="payable() <= 0 ? 'btn-outline-danger' : 'btn-outline-success'" class="btn btn-group-lg" [disabled]="payable() <= 0">
      <span class="badge" [ngClass]="payable() <= 0 ? 'badge-warning' : 'badge-success'"> GH¢ {{payable() |number}}</span> Receive
      <span class="sr-only">Amount to pay</span>
    </button>
  </div>
  <h2>Tear this section for labs <br />
  ---------------------------------------------------------------------------
  </h2>
  <div [hidden]="pays.groups.length<1">
    <h2 class="h2 text-success">Labs</h2>
    <ul class="list-group list-group-flush" *ngIf="!pays!.labs">
      <li class="list-group-item" *ngFor="let l of pays.groups">
        <span class="text-primary font-weight-bold">{{l.groupName}}</span>
        <table class="table table-responsive">
          <tr *ngFor="let p of l.labs">
            <td>{{p.lab}}</td>
            <td>
              <textarea class="form-control"></textarea>
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
</div>
