<form class="form-horizontal" name="form" id="form" [formGroup]="form" (submit)="find(form.controls.patientsID.value)">
  <fieldset>
    <legend>Fill in details of the patient</legend>
    <!-- Patients ID -->
    <div class="form-group form-row">
      <label class="col-sm-1 control-label" for="patientsID">Identifier</label>
      <div class="col-sm-4" [ngClass]="form.controls.patientsID?.errors ? 'has-error' : 'has-success'">
        <input type="text" class="form-control" formControlName="patientsID" id="patientsID" placeholder="index number/staff id">
      </div>
      <div class="col-sm-2">
        <button class="btn" [ngClass]="form.valid ? 'btn-outline-success' : 'btn-outline-danger'" [disabled]="form.invalid || hand.processing">Find</button>
      </div>
      <div class="row">
        <span [ngClass]="form.controls.patientsID.errors?.maxlength ? 'text-danger' : ''" *ngIf="form.controls.patientsID.errors?.maxlength">The maximum length is {{form.controls.patientsID.errors.maxlength.requiredLength}} characters: Current is {{form.controls.patientsID.errors.maxlength.actualLength}}</span>
        <span [ngClass]="form.controls.patientsID.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.patientsID.errors?.required">Unique identifier is required</span>
        <span [ngClass]="form.controls.patientsID.errors?.minlength ? 'text-danger' : ''" *ngIf="form.controls.patientsID.errors?.minlength">The minimum length is {{form.controls.patientsID.errors.minlength.requiredLength}} characters: Current is {{form.controls.patientsID.errors.minlength.actualLength}}</span>
      </div>
    </div>
  </fieldset>
</form>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;" *ngIf="pat && form.valid">
  <div class="card-header">Patient Information</div>
  <div class="card-body">
    <p class="card-text">Name  : {{pat!.fullName}}</p>
    <p class="card-text">Phone : {{pat!.mobileNumber}}</p>
    <p class="card-text">ID    : {{pat!.patientsID}}</p>
    <p class="card-text">DOB   : {{pat.dateOfBirth |date}}</p>
    <button class="btn btn-primary" (click)="get(pat.patientAttendanceID)">Get Payments</button>
  </div>
</div>
